.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px rgba(240, 240, 240, 1);
}

.todo p {
  margin: 0;
  font-size: large;
  font-weight: 600;
}

.status {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.check {
  font-size: x-large;
  color: #4d5bbe;
}

.delete {
  margin-left: 5px;
  color: #de2e45;
}
