/* ToDos */
.todoDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.todoTitle {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 0.7rem;
  cursor: pointer;
  font-size: larger;
}

.checked {
  text-decoration: line-through;
  color: #aaaaaa;
}

.deleteToDo {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: #b00020;
  border-radius: 50%;
  font-size: large;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.deleteToDo:hover {
  background-color: #b00020;
  color: #fff;
}

.dark__deleteToDo {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: #cf6679;
  border-radius: 50%;
  font-size: large;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dark__deleteToDo:hover {
  background-color: #cf6679;
  color: #fff;
}
