.form {
  display: flex;
  margin-bottom: 20px;
}

.form.dark {
  background-color: #2c3e50;
}

.input {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #a8a8a8;
  outline: none;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button.dark {
  background-color: #2980b9;
}
