.todolist {
  position: relative;
}

.add {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: x-large;
  background-color: #4d5bbe;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
