.container {
  margin: auto;
  width: 500px;
  box-shadow: 10px 10px 21px 0px rgba(117, 117, 117, 1);
}

.container.dark {
  background-color: #333;
  color: #fff;
}

.todolist {
  height: 70vh;
  overflow-y: scroll;
}

.todolist::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.todolist::-webkit-scrollbar-thumb {
  height: 30%;
  background: #a8a8a8;
  border-radius: 10px;
}

.todolist::-webkit-scrollbar-track {
  background: #f2f2f2;
}
