.wrapper {
  width: 100%;
  height: 100vh;
  padding: 2em;
}

.dark__wrapper {
  width: 100%;
  height: 100vh;
  padding: 2em;
  background-color: #a7a7a7;
}

.todolist {
  width: 30em;
  margin: 0 auto;
  box-shadow: 10px 10px 30px 0px rgba(97, 97, 97, 1);
}

@media screen {
  @media (max-width: 575px) {
    .wrapper {
      padding: 1em;
    }
    .todolist {
      width: 90%;
      font-size: small;
    }
  }
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1.2em;
  font-size: larger;
  border-bottom: 1px solid #a8a8a8;
}

.dark__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: #fff;
  padding: 1.2em;
  font-size: larger;
  border-bottom: 1px solid #a8a8a8;
}

.theme {
  color: #ffae00;
  cursor: pointer;
}

.dark__theme {
  color: #ffd54f;
  cursor: pointer;
}

.category {
  display: flex;
  justify-content: space-evenly;
  color: #ffae00;
}

.dark__category {
  display: flex;
  justify-content: space-evenly;
  color: #ffd54f;
}

.details {
  margin-left: 1.6rem;
  cursor: pointer;
}

.todos {
  height: 60vh;
  background-color: #fff;
  padding: 1.2em;
  overflow-y: scroll;
}

.dark__todos {
  height: 60vh;
  background-color: #212121;
  color: #fff;
  padding: 1.2em;
  overflow-y: scroll;
}

.todos::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.todos::-webkit-scrollbar-thumb {
  height: 30%;
  background: #a8a8a8;
  border-radius: 10px;
}

.todos::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.dark__todos::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.dark__todos::-webkit-scrollbar-thumb {
  height: 30%;
  background: #575757;
  border-radius: 10px;
}

.dark__todos::-webkit-scrollbar-track {
  background: #303030;
}

.todo {
  list-style: none;
  font-size: larger;
}

/* Form */
.form {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1.2em;
}

.dark__form {
  display: flex;
  align-items: center;
  background-color: #121212;
  color: #fff;
  padding: 1.2em;
}

.input {
  width: 85%;
  padding: 0.8rem;
  font-size: larger;
  outline: none;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.addToDo {
  width: 15%;
  padding: 0.8rem;
  font-size: larger;
  font-weight: 700;
  outline: none;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #007acc;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dark__addToDo {
  width: 15%;
  padding: 0.8rem;
  font-size: larger;
  font-weight: 700;
  outline: none;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #90caf9;
  cursor: pointer;
}
