.wrapper {
  width: 100%;
  height: 100vh;
  padding: 2em;
}

.dark__wrapper {
  width: 100%;
  height: 100vh;
  padding: 2em;
  background-color: #a7a7a7;
}

/* Form */

@media screen {
  @media (max-width: 575px) {
    .wrapper {
      padding: 1em;
    }
  }
}
